<% provide(:title, "About") %>
    <h1>O...</h1>
    <p>
      <a href="http://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> jest
      <a href="http://www.railstutorial.org/book">książką</a> oraz
      <a href="http://screencasts.railstutorial.org/">serią screencastów</a>
      uczących tworzenia aplikacji webowych w
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      To jest przykładowa aplikacja grafiku utworzona na podstawie tutoriala przez Maciej Sypniewski.
    </p>

