<% provide(:title, "Help") %>
<h1>Pomoc</h1>
<p>
  Aby uzyskać pomoc w Ruby on Rails Tutorial na
  <a href="http://www.railstutorial.org/help">Rails Tutorial stronie pomocy.</a>.
  Aby uzyskać pomoc o tej przykładowej aplikacji, odwiedź 
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> książkę</a>.
  <br>Legenda do grafiku już wkrótce!
</p>
