<% if logged_in? && current_user.admin? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <div>

      </div>
  </div>
<% elsif logged_in?%>
<div class="col-md-12">

      <%= render 'shared/user_info' if logged_in? %>
        <%= render 'shared/kalendarz' %>
        <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>
<% else %>
<div class="center jumbotron">
  <h1>Witamy w przykładowym grafiku</h1>

  <h2>
    To jest strona domowa dla
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
    Jsteśmy na przykładowej aranżacji aplikacji GRAFIKU.
  </h2>

  <%= link_to "Zapisz się teraz!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="container">
    <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
    <%= image_tag("kitten.jpg") %>
</div>
<% end %>
