<h1>Grafik</h1>
<p>Witaj <%= @user.name %></p>
<p>
Witamy w przykładowym Grafiku! Kliknij na linku poniżej aby aktywować swoje konto:
</p>

<%= link_to 'Aktywuj', edit_account_activation_url(@user.activation_token, email: @user.email) %>