<%= form_for(nadgodziny) do |f| %>
  <% if nadgodziny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nadgodziny.errors.count, "error") %> prohibited this nadgodziny from being saved:</h2>

      <ul>
      <% nadgodziny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= "Obecny użytkowik #{current_user.name}" %>
    <%= f.hidden_field :user, :value => current_user.id %>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
