<p id="notice"><%= notice %></p>

<h1>Nadgodziny</h1>

<table>
  <thead>
    <tr>
      <th>User: </th>
      <th>Data:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nadgodzinies.each do |nadgodziny| %>
      <tr>
        <td><%= User.find(nadgodziny.user).name %></td>
        <td><%= nadgodziny.data %></td>
        <td><%= link_to 'Show', nadgodziny %></td>
        <td><%= link_to 'Edit', edit_nadgodziny_path(nadgodziny) %></td>
        <td><%= link_to 'Destroy', nadgodziny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nadgodziny', new_nadgodziny_path %>
