<p id="notice"><%= notice %></p>

<p>
  <strong>Pracownik:</strong>
  <%= User.find(@nadgodziny.user).name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @nadgodziny.data %>
</p>

<%= link_to 'Edit', edit_nadgodziny_path(@nadgodziny) %> |
<%= link_to 'Back', nadgodzinies_path %>
