<%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Imię i Nazwisko:" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :email, "Email:" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :zmiana_id, "Zmiana:" %>
      <%= f.select(:zmiana_id, options_from_collection_for_select(Zmiana.all, :id, :nazwa)) %>
      
      <%= f.label :email, "Chasło:" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Powtórz chasło:" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>