<% provide(:title, 'Edytuj profil') %>
<% provide(:button_text, 'Zapisz zmiany') %>
<h1>Edytuj Profil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank">Zmień</a>
    </div>
  </div>
</div>