<% provide(:title, 'Użytkownicy') %>
<h1>Użytkownicy</h1>


<% if current_user.admin %>
    <%= will_paginate %>
    <ul class='users'>
    <%= render @users %>
    </ul>
    <%= will_paginate %>
<% else %>
<ul class='users'>
<% @users.each do |user| %>
<li>
<% if user.admin %>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Usuń", user, method: :delete,
                                  data: { confirm: "Jesteś pewien?" } %>
    <% end %>
<% end %>
</li>
<% end %>
</ul>
<% end %>
