<% provide(:title, 'Zapisz się') %>
<% provide(:button_text, 'Utwórz moje konto') %>
<h1>Zapisz się</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= render 'form' %>
    
  </div>
</div>
