<div class="container">
<div class="calendar-container">
<header>
  <div class="day">1</div>
  <div class="month">Grudzień</div>
  </header>
    <table class="calendar">
    <thead>
        <tr>
            <td>Pon</td><td>Wto</td><td>Śro</td><td>Czw</td><td>Pią</td><td>Sob</td><td>Nie</td>
        </tr>
    </thead>
    <tbody>
    <% @string = Zmiana.find(current_user.zmiana_id).kalendarz %>
    <% string = @string %>
    <% string.split('<tr>').each do |tydzien| %>
        <tr>
            <% tydzien.split.each do |dzien| %>
                <% tab = dzien.split('|') %>
                <% opcja = tab[1] %>
                <% d = tab[0] %>
                <td class="<%= opcja %>"><%= d %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
    </table>
    <div class="ring-left"></div>
    <div class="ring-right"></div>
</div> <!-- end calendar-container -->
</div> <!-- end container -->