<%= form_for(@zmiana) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :nazwa, "Nazwa zmiany:" %>
      <%= f.text_field :nazwa, class: 'form-control' %>      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>