
 <table width=100%>
 <tr>
 <td width=25%><%= button_to zmiana.nazwa, {:action => 'show', :id => zmiana}, class: "btn btn-primary"%></td>
 <td width=25%><%= button_to 'Edytuj zmianę', "#", class: "btn btn-primary" %></td>
 <td width=25%><%= button_to 'Utwórz grafik', kalendarz_new_path(:id => zmiana), class: "btn btn-primary"  if zmiana.kalendarz.nil? %>
 <%= button_to 'Zmień grafik', kalendarz_new_path(:id => zmiana), class: "btn btn-primary"  unless zmiana.kalendarz.nil? %>
 </td>
 <td width=25%><%= button_to 'Usuń zmianę', {:action => 'destroy', :id => zmiana}, :confirm => "Jesteś pewien, że chcecs usunąć zminę #{zmiana.nazwa}?", class: "btn btn-primary" %></td>
</tr>
</table>


<% tmp1 = zmiana.kalendarz.to_s %>
<% str = '' %>
<table width=100%>
<tr>

	<% pattern = /<tr>\Z/ %>
	<% tmp_kal = tmp1.split %>
	<% tmp_kal.each do |n| %>
		<% if n =~ pattern %>
		<% n = n.slice(0, n =~ pattern) %>
		<% end %>
		<% tp = n.split('|') %>
		<% if tp[1] == "work-day" %>
			<td bgcolor="green"><%= "#{tp[0]}" %></td>
		<% elsif tp[1] == "night-day" %>
			<td bgcolor="yellow"><%= "#{tp[0]}" %></td>
		<% elsif tp[1] == "another-month" %>
			<td bgcolor="gray"><%= "#{tp[0]}" %></td>
		<% else %>
			<td bgcolor="#EEEEEE"><%= "#{tp[0]}" %></td>
		<% end %>
	<% end %>
</tr>
</tbody>
</table>
<br><hr><br>




 