<div class="container">
<div class="calendar-container">
<header>
  <div class="day">1</div>
  <div class="month">Grudzień</div>
  </header>
    <table class="calendar">
    <thead>
        <tr>
            <td>Pon</td><td>Wto</td><td>Śro</td><td>Czw</td><td>Pią</td><td>Sob</td><td>Nie</td>
        </tr>
    </thead>
    <tbody>
    <% string = "28|prev-month 29|prev-month 30|prev-month 1| 2 3 4<tr>5 6 7 8 9 10 11<tr>12 13 14 15 16 17 18<tr>19 20 21 22 23 24 25<tr>26 27 28 29 30 31 1|next-month" %>
    <% string.split('<tr>').each do |tydzien| %>
        <tr>
            <% tydzien.split.each do |dzien| %>
                <% tab = dzien.split('|') %>
                <% opcja = tab[1] %>
                <% d = tab[0] %>
                <td class="<%= opcja %>"><%= d %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
    </table>
    <div class="ring-left"></div>
    <div class="ring-right"></div>
</div> <!-- end calendar-container -->
</div> <!-- end container -->

<form action="...">
	<select name="nazwa">
		<option>wolne</option>
		<option>dniówka</option>
		<option>nocka</option>
	</select>
</form>