<% provide(:title, 'Nowa Zmiana') %>
<% provide(:button_text, 'Utwórz nową zmianę') %>
<h1>Nowa Zmiana</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-3">
  <%= render 'form' %>
  </div>
</div>
