

<table width=100%>
<tr>
<td>
<% zmiana = Zmiana.find(params[:id]) %>><td>
<%= "Zmiana: #{zmiana.nazwa}" %></td><td><%= button_to 'Utwórz grafik', kalendarz_new_path(:id => zmiana) if zmiana.kalendarz.nil? %></td>
<td><%= button_to 'Usuń zminę', {:action => 'destroy', :id => zmiana},
:confirm => "Jesteś pewien, że chcecs usunąć zminę #{zmiana.nazwa}?" %>
</td>
</tr>
</table>

<br>
<%if zmiana.kalendarz %>
<div class="container">
<div class="calendar-container">
<header>
  <div class="day">1</div>
  <div class="month">Grudzień</div>
  </header>
    <table class="calendar">
    <thead>
        <tr>
            <td>Pon</td><td>Wto</td><td>Śro</td><td>Czw</td><td>Pią</td><td>Sob</td><td>Nie</td>
        </tr>
    </thead>
    <tbody>
    <% @string = zmiana.kalendarz %>
    <% string = @string %>
    <% string.split('<tr>').each do |tydzien| %>
        <tr>
            <% tydzien.split.each do |dzien| %>
                <% tab = dzien.split('|') %>
                <% opcja = tab[1] %>
                <% d = tab[0] %>
                <td class="<%= opcja %>"><%= d %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
    </table>
    <div class="ring-left"></div>
    <div class="ring-right"></div>
</div> <!-- end calendar-container -->
</div> <!-- end container -->
<% end %>
<br>

 