<h1>Kalendarz#create</h1>
<p>Find me in app/views/kalendarz/create.html.erb</p>
<%= "#{params[:extraparam]}" %>
<% @kalendarz = params[:kalendarz] %>
<% @kalendarz.each do |dzien| %>
<%= "#{dzien}" %><br>
<% end %>



<br><br><br>


<% tmp_string = %w{28|prev-month 29|prev-month 30|prev-month 1 2 3 4 <tr> 5 6 7 8 9 10 11 <tr> 12 13 14 15 16 17 18 <tr> 19 20 21 22 23 24 25 <tr> 26 27 28 29 30 31 1|next-month} %>
<% i = 0 %>
<% a = 0 %>
<% wynik = [] %>
<%= tmp_string.each do |dzien| %>
	<% tab = dzien.split('|') %>
	<%= "#{tab[0]}" %>
	<% if @kalendarz[i] == "1" && tab[0] != "<tr>" %>
		<% wynik[a] = tab[0].to_s + "|work-day" %>
	<% elsif @kalendarz[i] == "2" && tab[0] != "<tr>" %>
		<% wynik[a] = tab[0].to_s + "|night-day" %>
	<% elsif @kalendarz[i] == "3" && tab[0] != "<tr>" %>
		<% wynik[a] = tab[0].to_s + "|another-month" %>
	<% else %>
		<% wynik[a] = tab[0].to_s if tab[0] != "<tr>" %>
		<% wynik[a] = tab[0] %>
	<% end %>

	<% i += 1 if tab[0] != "<tr>" %>
	<% a +=1 %>
<% end %>
	


 <% wynik.each do |dzien| %>
 <%= "#{dzien}" %><br>
 <% end %>


 <br><br><br>
 <% string = wynik.join(' ') %>
 <%= "#{string}" %>