<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Grafik", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Domowa", root_path %></li>
        <li><%= link_to "Pomoc", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Użytkownicy", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Konto <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_user %></li>
              <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Zgłoś się na nadgodziny", 'nadgodzinies/new' %></li>
              <li class="divider"></li>
              <li>
              <% if logged_in? && current_user.admin? %>
          <%= link_to "Nadgodziny", '/nadgodzinies' %>
          <% end %>
          </li>
          <li>
                <%= link_to "Wyloguj", logout_path, method: 'delete' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Zaloguj", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>